/* style general du document */
body {
	font-family: Verdana,sans-serif;
	font-size: 15px;
	color: #3C3C3C;
	background:WhiteSmoke;
}

/* emplacement carte */
#carte{
	/*background: #A2D9EE;*/
	background: #E3F2FF;
	border-color: darkgrey;
	border-style: solid;
	width: 700px;
	height: 700px;
}


/* pied de page */
footer {
	font-size: 11px;
	font-style: italic;
	color: DimGray;
}

/* titre */
#titre{
	color: #3C3C3C;
	font-size: 20px;
}

/* pour les infobulles */
.hidden {
	display: none;
}

/* polygones de lieux à plat */
.lieux_aplat{
	fill: transparent;
}

/* fond */
.fond{
	fill: silver;
	stroke: black;
	stroke-width: 0;
}

/* polygones de lieux */
.lieux{
	fill: transparent;
}
.lieux_highlighted{
	fill: yellow;
	fill-opacity: 0.5;
}

/* centroïdes de lieux */
.lieux_centroides{
/*	fill: black;*/
	stroke: white;
	stroke-width: 1;
}
.lieux_centroides:hover{
	fill: yellow;
	fill-opacity: 1;
}

/* infobulles */
div.tooltip {
        color: #222;
        background-color: #fff;
        padding: .5em;
        text-shadow: #f5f5f5 0 1px 0;
        border-radius: 2px;
        opacity: 0.9;
        position: absolute;
    }
